@font-face { 
	font-family: "droid"; 
	src: url("/font/droid.TTF"); 
}

@font-face { 
	font-family: "starjout"; 
	src: url("/font/Starjout.ttf"); 
}

@font-face { 
	font-family: "starjhol"; 
	src: url("/font/Starjhol.ttf"); 
}

@font-face {
	font-family: 'lcdbold';
	src: url('/font/LCDBOLD.eot');
	src: local('/font/LCDBOLD'), url('/font/LCDBOLD.woff') format('woff'), url('/font/LCDBOLD.ttf') format('truetype');
}

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

a {
   outline: 0;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#head_movement_control {
	display: none;
}

.homepagelogo {
	float: left;
	margin-left: 50px;
}

#camera {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
	width: 100%;
    z-index: -1;
	display: none;
}

#movement_joystick_zone {
    position: relative;
    height: 100%;
    width: 20%;
    top: 0;
    left: 0;
    z-index: 100;
	float: left;
	background: hsla(0, 100%, 50%, 0.1);
	display: none;
}

#eye_joystick_zone {
    position: relative;
    height: 100%;
    width: 20%;
    top: 0;
    right: 0;
    z-index: 100;
	float: right;
	background: hsla(110, 100%, 50%, 0.1);
	display: none;
}

.control_description {
  font-family: 'starjhol', sans-serif;
 font-size: 2em;

}


[class*="fa-"] {
  font-size: 3em;
  position: relative;
  top: 10px;
}

* { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing:    border-box; 
  box-sizing:         border-box; 
  margin: 0;
  padding: 0;
}

html {
  background: #f7f7f7 url(/img/round-btn.png) repeat center top;
}

nav {
	position: absolute;
	bottom: 62px;
	width: 100%;
	z-index: 200;
	text-align: center;
}

.nav {
  list-style: none;
  text-align: center;
margin-left: auto;
margin-right: auto;
z-index: 200;
width: 50%;
}

.nav li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}

.nav li:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.nav a:link, .nav a:visited {
  display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  margin: 0 25px 0 37px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;
}

.nav a:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.nav a:hover {
  text-decoration: none;
  color: #555;
  background-color: #f5f5f5;
}

.nav a:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}



#lcd_display {
	outline: none;
	resize: none;
	overflow: auto;
	background-color: #b0db66;
	border: 10px solid black;
	box-shadow: inset 0px 0px 10px #000000;
	padding: 3px;
	font-family: lcdbold;
	
}


#soundboard {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.soundbtn {
	background-color: #00236d;
	border: medium none;
	box-shadow: 10px 10px 0 #28388c inset;
	border-radius: 25px;
	color: white;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 10px;
	width: 120px;
	height: 80px;
}

.soundbtn:hover {
	cursor: pointer;
	background-color: #28388c;
	box-shadow: 10px 10px 0 #00236d inset;
}


h1 {
  font-family: 'starjout', sans-serif;
  font-size: 4.5em;
  font-weight: normal;
  margin: 0;
}

#container {
  color: #00236D;
}

#fullpage .section {
	border: 20px solid #00236d;
  -moz-box-shadow:    inset 0 0 25px #000000;
   -webkit-box-shadow: inset 0 0 25px #000000;
   box-shadow:         inset 0 0 25px #000000;
}

.robotinfo {
    font-family: "droid",sans-serif;
    font-size: 1.5em;
}

.fp-tableCell {
    vertical-align: top;
}

.slide {
  text-align: center;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #00236D;
}
.fp-controlArrow.fp-prev {
  border-color: transparent #00236D transparent transparent;
}

#leftcorner_top {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100px 0 0;
  border-color: #00236D transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 0;
	z-index: 10;
}

#rightcorner_top {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 100px 0;
  border-color: transparent #00236D transparent transparent;
  position: absolute;
  top: 0;
  right: 0;
	z-index: 10;
}

#leftcorner_bottom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 0 0 100px;
  border-color: transparent transparent transparent #00236D;
  position: absolute;
  bottom: 0;
  left: 0;
	z-index: 10;
}

#rightcorner_bottom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 100px;
  border-color: transparent transparent #00236D transparent;
  position: absolute;
  bottom: 0;
  right: 0;
	z-index: 10;
}


#ringcolor {
    background-color: black;
    border: 1px solid black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    height: 68px;
	width: 178px;
    margin-bottom: 10px;
    padding: 4px 6px;
}
